<!DOCTYPE html>
<html lang="ko">
    {{> head title="피드"}}
    <style>
        .text-invert {
            color: #000000 !important;
            mix-blend-mode:normal !important;
        }
    </style>
  <body>
    {{> navbar }}



    <dds-header 
        header-title="더 나은 세상을 향해"
        header-sub-title="데벤트 기술 블로그">
        <div id="loggedin_panel" class="div-hide">
            <div class="d-grid gap-2">
                <button class="btn btn-blue" onclick="location.href='/write'">피드 작성</button>
                <button class="btn btn-red" onclick="logout()">로그아웃</button>

            </div>
        </div>
    </dds-header>


    <section class="py-3" id="features">
        <div class="container-fluid px-4 my-5">
            <div class="row gx-5">
                <div class="col-lg-3 mb-3">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h6 fw-bolder">추천 아티클</h2>
                    <div id="articles">

                    </div>
                </div>
                <div class="col-lg-6 mb-3">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h6 fw-bolder">피드 </h2>

                    <div id="feeds">

                    </div>


                </div>
                <div class="col-lg-3">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h6 fw-bolder">기타 링크</h2>
                    <a class="text-decoration-none" href="https://github.com/Team-DeVent">
                        Github
                        <i class="fas fa-arrow-right"></i>
                    </a>
                    <br>

                    <a class="text-decoration-none" href="https://devent.kr/">
                        Homepage
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

 

    {{> footer}}

    <script>


        // Test Ground
        let tag_title = ['세상을', '기술을', '내일을', '우리를', '오늘을', '생각을', '마음을', '지구를']
        let now_title = 0
        let now_feed_idx = 0
        let feed_increase = 10;

        try {
            let token = getToken('user')
            if (checkToken(token)) {
                document.querySelector("#loggedin_panel").classList.remove("div-hide")
            }
        } catch (error) {
            
        }
        patchFeed()
        loadFeeds() 
        loadArticles()


        

        async function patchFeed() {
            let feeds_info = await getFeedsInformation()
            console.log(feeds_info)
            now_feed_idx = feeds_info.data[0].feed_last_idx
            
        }

        

        async function loadFeeds() {

            let data = await getFeedRange(now_feed_idx);
            let body = document.querySelector("#feeds");
            
            data.data.forEach(function(item) {
                body.insertAdjacentHTML('beforeend', `<div class="card mb-5 mt-3" style="width: 100%;" onclick="location.href='/post/${item.idx}'">
                    <div class="card-img">
                        <img class="card-img-top" src="${item.feed_image}" alt="Card image cap">

                    </div>
                    <div class="card-body">
                        <div id="tags_${item.idx}">
                        </div>

                        <h5 class="card-title">${item.feed_title}</h5>
                        <p class="card-text">${item.feed_intro}</p>
                    </div>
                </div>`)
                loadTags(item.idx, item.feed_tag.split(','))
            })
        }

        function loadTags(idx, tags) {
            let body = document.querySelector("#tags_"+String(idx))
            
            tags.forEach(function (item) {
                body.insertAdjacentHTML("beforeend", `<span class="badge rounded-pill color-blue-100 text-primary mb-3 mr-2">${item}</span>`)
            })

        }



        async function loadMoreFeeds() {
            now_feed_idx = now_feed_idx-feed_increase-1
            await loadFeeds() 
            
        }


        async function loadArticles() {
            let data = await getArticles(0)
            console.log(data)
            let body = document.querySelector("#articles");

            data.data.forEach(function(item) {
                body.insertAdjacentHTML('beforeend', `
<button class="btn btn-light mt-1 mr-1" onclick="location.href='/articles/${item.idx}'" type="button">${item.title}</button>
`)
            })
            
        }
    </script>

  </body>
</html>