<!DOCTYPE html>
<html lang="ko">
    {{> head}}
  <body>
    {{> navbar}}


    <header class="bg-white py-5">
        <div class="container px-5 pt-4 pb-2">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h2 class="display-5 fw-bolder text-dark font-weight-lg mb-2">더 나은 <b class="font-weight-lg" id="blog_tags">세상을</b> 향해.</h2>
                        <p class="lead text-dark-50 font-weight-md mb-4" id="intro">데벤트 기술 블로그</p>
                        <div id="loggedin_panel" class="div-hide">
                            <div class="d-grid gap-2">
                                <button class="btn color-blue-100 text-primary" onclick="location.href='/write'">피드 작성</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    
    <section class="py-5" id="features">
        <div class="container-fluid px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-3">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h4 fw-bolder">추천 아티클</h2>
                    <div class="d-grid gap-2 d-md-block" id="articles">

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h4 fw-bolder">피드 </h2>

                    <div id="feeds">

                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h4 fw-bolder">Featured title</h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                    <a class="text-decoration-none" href="#!">
                        Call to action
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

 

    {{> footer}}

    <script>
        // Test Ground





        try {
            let token = getToken('user')
            if (checkToken(token)) {
                document.querySelector("#loggedin_panel").classList.remove("div-hide")
            }
        } catch (error) {
            
        }
        //getFeed(1)
        loadFeeds() 
        loadArticles()

        let tag_title = ['세상을', '기술을', '내일을', '우리를', '오늘을', '생각을', '마음을', '지구를']
        let now_title = 0
        setInterval(() => {
            if (tag_title.length > now_title) {
                document.querySelector("#blog_tags").innerText = tag_title[now_title]
                now_title += 1
            } else {
                now_title = 0
                document.querySelector("#blog_tags").innerText = tag_title[now_title]

            }

        }, 2000)



        async function loadFeeds() {
            let data = await getFeedRange(0);
            let body = document.querySelector("#feeds");
            
                        console.log(data)

            data.data.forEach(function(item) {
                body.insertAdjacentHTML('beforeend', `<div class="card mb-5 mt-3" style="width: 100%;" onclick="location.href='/post/${item.idx}'">
                    <img class="card-img-top" src="${item.feed_image}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">${item.feed_title}</h5>
                        <p class="card-text">${item.feed_intro}</p>
                    </div>
                    </div>`)
            })
        }

        async function loadArticles() {
            let data = await getArticles(0)
            console.log(data)
            let body = document.querySelector("#articles");

            data.data.forEach(function(item) {
                body.insertAdjacentHTML('beforeend', `
<button class="btn btn-light btn-sm mt-1" onclick="location.href='/articles/${item.idx}'" type="button">${item.title}</button>
`)
            })
            
        }
    </script>

  </body>
</html>